<h2><%= @account.name %> <small>(<%= if @account.contra, do: "-" %><%= @account.type %>)</small></h2>

<span><%= link "Edit", to: account_path(@conn, :edit, @account) %></span>
<span><%= link "Back", to: account_path(@conn, :index) %></span>
