<h2>Edit Lot type</h2>

<%= render "form.html", changeset: @changeset,
                        action: lot_type_path(@conn, :update, @lot_type) %>

<span><%= link "Back", to: lot_type_path(@conn, :index) %></span>
