<h2>Show Entry</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @entry.description %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @entry.date %>
  </li>

</ul>

<span><%= link "Edit", to: entry_path(@conn, :edit, @entry) %></span>
<span><%= link "Back", to: entry_path(@conn, :index) %></span>
