<h2>New Lot</h2>

<%= render "form.html", changeset: @changeset,
                        contacts: @contacts,
                        action: lot_path(@conn, :create) %>

<span><%= link "Back", to: lot_path(@conn, :index) %></span>
