<h2><%= @lot.code %> <small><%= @lot.lot_type.name %> - <%= @lot.address %></small></h2>

<%= if @lot.owner do %>
<p><strong>Owner:</strong> <%= @lot.owner.name %></p>
<% end %>

<p><strong>Contacts:</strong>
<ul>
<%= for contact <- @lot.contacts do %>
  <li><%= contact.name %> (<%= contact.phonenumber %>)</li>
<% end %>
</ul>
</p>

<span><%= link "Edit", to: lot_path(@conn, :edit, @lot) %></span>
<span><%= link "Back", to: lot_path(@conn, :index) %></span>
