<h2><%= @lot.code %> <small><%= @lot.address %></small></h2>

<%= if @lot.contact do %>
<p><strong>Owner:</strong> <%= @lot.contact.name %></p>
<% end %>

<ul>
<%= for contact <- @lot.contacts do %>
  <li><%= contact.name %> (<%= contact.phonenumber %>)</li>
<% end %>
</ul>

<span><%= link "Edit", to: lot_path(@conn, :edit, @lot) %></span>
<span><%= link "Back", to: lot_path(@conn, :index) %></span>
